{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuarios</h1>

    <table class="record_properties table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ entity.apellido }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Nro de documento</th>
                <td>{{ entity.nroDocumento }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Perfil</th>
                <td>{{ entity.perfil }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a class="btn btn-default btn-sm"  href="{{ path('usuarios') }}">
            <span class="glyphicon glyphicon-chevron-left"></span> Volver al listado
        </a>
    </li>
    <br>
    <li>
        <a class="btn btn-default btn-sm" href="{{ path('usuarios_edit', { 'id': entity.id }) }}">
            <span class="glyphicon glyphicon-pencil"></span> Modificar Usuario
        </a>
    </li>
    <br>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
