    <div class="row">
    <div class="col-md-12">
    <h1>{{registro}}</h1>
    <h2>Revisión Actual: {{ registro.revisionActual  }}</h2>
    {#<h3>Fecha de la revisión actual: {{ registro.fechaUltimaActualizacion|date("d/m/Y")}}</h3>#}
    
    <h3>Fecha de actualización: {{ registro.fechaUltimaActualizacion|date("d/m/Y")}}
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('registro_edit',   {'id': registro.id}) }}" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-edit"></span> Modificar </a>
            
        {% endif %}
    
    </h3>
    
    <a href="{{ path('registrocargado_exportar',   {'id': registro.id}) }}" class="pull-right btn btn-default btn-sm">
    <span class="glyphicon glyphicon-export"></span> Exportar</a>
    
    {% if posicion == 'H' %}
    <a href="{{ path('registrocargado_todos',   {'id': registro.id, 'posicion' : 'V'}) }}" class="pull-right btn btn-default btn-sm">
    {% else %}
    <a href="{{ path('registrocargado_todos',   {'id': registro.id, 'posicion' : 'H'}) }}" class="pull-right btn btn-default btn-sm">
    {% endif %}
    <span class="glyphicon glyphicon-eye-open"></span><span class="text-hide">Alternar vista</span></a>

    <br>
    <div class="well pull-left">
    <form action="{{ path("registrocargado_filtro", {'id': registro.id}) }}" method="post" class="form-inline">
        <select name="idTipoCampo" class="form-control">
            {% for campo in campos %}
                <option value="{{campo.id}},{{ campo.nombre }}">{{ campo.nombre }}</option>
            {% endfor %}
        </select>
        <div class="form-group">
            <input type="text" class="form-control" name="filtrotexto" id="filtrotexto" placeholder="Ingrese texto" required>
        </div>
         <input type="hidden" name="posicion" id="blankCheckbox" value="{{posicion}}">
        <button type="submit" class="btn btn-default">Filtrar</button>
        
        {% include 'CespiIsoBundle:RegistroCargado:filtros.html.twig' %}
        
    </form>
    </div>
    